{% extends "base.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">First</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Create Date</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <th scope="row">
        <a href="{{ url_for('users.user_id', id=user.id)}}">{{ user.id }}</a>
    </th>
      <td>{{ user.name }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.create_date }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}